#############
##  NetBeans specific
#############
nbproject/private/
nbproject/project.properties
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
manifest.mf

# Class Files #
*.class

# Package Files #
*.war
*.ear

#############
##  Source code ignore
#############
Thirdparties/sourcecode/